.bookmark-container {
    width: 95vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding-top: 100px;
  }
  
  .bookmark-container h2 {
    font-size: 30px;
  }
  
  .story-cards {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 45px;
    width: 100%;
    height: auto;
  }
  
  .show-more-btn {
    margin: 20px auto;
    padding: 10px 20px;
    background: #FF7373;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    display: block;
    font-size: 1em;
  }
  
  .show-more-btn:hover {
    background-color: rgb(224, 69, 69);
  }
  