/* Modal Background */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* Ensure it stays on top */
}

/* Modal Container */
.modal-content {
  background-color: #fff;
  width: 90%;
  max-width: 400px;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  position: relative;
}

/* Close Button */
.modal-close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  border: 2px solid red;
  border-radius: 100%;
  color: red;
  height: 25px;
  width: 25px;
  line-height: 1px;
  padding: 1.7px;
}


/* Form Title */

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.modal-title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #333;
}

/* Error Message */
.error-message {
  color: red;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  text-align: center;
}

/* Input Fields */
input {
  width: 100%;
  padding: 0.8rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box;
}

.modal-input:focus {
  border-color: #333;
  outline: none;
}

/* Submit Button */
.modal-submit-btn {
  width: 50%;
  padding: 0.8rem;
  background: #73ABFF;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

.modal-submit-btn:hover {
  background-color: rgb(0, 123, 255);
}

/* Text Link (for login link) */
.modal-link {
  display: block;
  margin-top: 1rem;
  text-align: center;
  color: #333;
  text-decoration: none;
}

.modal-link:hover {
  text-decoration: underline;
}

.username,
.password {
  display: flex;
  gap: 20px;
  line-height: 60px;
  font-weight: 600;
}

.password-toggle-icon {
  position: absolute;
  right: 100px;
  top: 200px;
  transform: translateY(-50%);
  cursor: pointer;
  width: 15px;
  /* Adjust size as needed */
  height: 15px;
  background-image: url('../../assets/Images/Eye.png');
  /* Use your eye icon image */
  background-size: contain;
  background-repeat: no-repeat;
}

.password-toggle-icon:hover {
  opacity: 0.7;
  /* Optional hover effect */
}


/* Responsive Adjustments */
@media (max-width: 500px) {
  .modal-content {
    width: 80%;
    height: 600px;
  }

  .modal-title {
    font-size: 1.2rem;
  }

  .modal-input,
  .modal-submit-btn {
    font-size: 0.9rem;
    padding: 0.6rem;
  }

  .username,
  .password {
    display: flex;
    flex-direction: column;
    gap: 20px;
    line-height: 60px;
    font-weight: 600;
  }

  /* Input Fields */
  .input {
    width: 100%;
    padding: 0.8rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    box-sizing: border-box;
  }


}