/* StoryContainer.css */
.story-container {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.category-story-container {
    height: auto;
    margin-bottom: 40px;
    width: 95vw;
}

.category-story-container h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
    margin-top: 60px;
}

.no-story {
    text-align: center;
    justify-content: center;
    color: #8E8E8E;
    font-size: 20px;
    font-weight: 600;
    height: 200px;
    margin-top: 120px;
}

.see-more-button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.see-more-button:hover {
    background-color: #0056b3;
}

@media (max-width: 500px)  {
    .story-container {
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }

    .category-story-container {
        width: 100vw;
    }


}