.my-story-container {
  width: 95vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.my-story-container h2 {
  font-size: 30px;
}

.story-cards {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
  width: 100%;
  height: auto;
  position: relative; 
  margin-bottom: 40px;
}

.show-more-btn {
  margin: 20px auto;
  padding: 10px 20px;
  background: #FF7373;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  display: block;
  font-size: 1em;
}

.show-more-btn:hover {
  background-color: rgb(224, 69, 69);
}

/* Edit button styles */
.Edit-btn {
  position: absolute;
  background: white;
  color: black; 
  padding: 6px 20px; 
  font-size: 14px; 
  border: none; 
  border-radius: 20px; 
  cursor: pointer;
  transition: background-color 0.3s ease; 
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5); 
  bottom: -15px; /* This moves the button half outside the card */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Offset by 50% to align center */
}

/* Hover effect */
.Edit-btn:hover {
  background-color: rgba(227, 225, 225, 0.989); /* Darker color on hover */
}
